

.fa-facebook{
    color: #3B5998;
}
.fa:hover {
    opacity: 0.4;
}


.fa-twitter{
    color: #55ACEE;
}

.fa-google-plus{
    color: #dd4b39;


}
.fa-youtube{
    color: #bb0000;
}
.icons > a:hover{
    text-decoration: none;
}
.icons{
    margin-bottom: 20px!important;
}
