

.icons > div{
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border-width: 2px;
    border-style: solid;
    text-align: center;
    line-height: 50px;
}
.icons > div:hover{

}
.icons{
    /*margin-bottom: 20px!important;*/
    text-decoration: none; !important;
    color: #EFC078;
}
div.fa-facebook{
    background: black;
}
div.fa-twitter{
   background: black;
}
div.fa-linkedin{
    background: black;
}

/*SocialMedia Hover*/
div.fa-facebook:hover{
    background-color: #EFC078 ;
    color: #1a2980;
}

div.fa-twitter:hover{
    background-color: #EFC078 ;
    color: #00acee;
}
div.fa-linkedin:hover{
    background-color: #EFC078 ;
    color: #0077b5;
}
