.ml-4-hasnaa{
    margin-left: 40% !important;
}
.ml-3-hasnaa{
    margin-left: 70% !important;
}
.bg-success{
    background-image: url("../res/abstract-21640_1920.jpg");

}
.btn-success{
    background-color: 			#85492D;
    border-color: 			#85492D;
}


.modal-body p{
    color: 	white;
    font-size: large;
    font-weight: bold;
}



#cn{
    font-weight: bold;
    color: white;
    font-size: xx-large;
}
h4{
    font-size: xx-large;
}
.glyp{

    height: 100px;
    width: 100px;

    font-size:500%;
    color: #85492D;


}
.p-hasnaa{
    font-size: x-large;
    color: #683a29;
}
.h4-hasnaa{
    color: #52c56a;
    font-size: xx-large;
}
.bg-hasnaa {
    background-color: rgba(239, 192, 120, 0.37);
}
.container-fluid1 {
    padding: 30px 25px;
}
.sabaclass{
    border: none;
}
.saba-btn-dtop{
    margin-top: 23px;

}
.saba-btn-andr{
    margin-top: 27px;
}
.saba-btn-courses{
    margin-top: 21px;
}

body { padding-right: 0 !important }